@using GallowsGame.Models.Enum
@{
    ViewData["Title"] = "Помощь близко";
}
<br>
<div class="text-center">
    
    @await Component.InvokeAsync("BadBoy", new { active = BadBoyStatusEnum.Death })
    
    <div class="content_wraper">
        <p>Чуть позже здесь появится описание.</p>
    </div>
</div>

<script>
    setInterval(()=> {
        $('#head>.eye:first-child').toggleClass("active");
        setTimeout(()=> {
                $('#head>.eye:first-child').toggleClass("active");
            }, 3000);
    }, 5000);
</script>