@{
    ViewData["Title"] = "Помощь близко";
}
<br>
<div class="text-center">
    <div class="game-container">
        <div id="frame_1" class="frame active"></div>
        <div id="frame_2" class="frame active"></div>
        <div id="frame_3" class="frame active"></div>
        <div id="rope" class="frame active"></div>
        <div id="man" class="active">
            <div id="head">
                <div class="eye"></div>
                <div class="eye"></div>
            </div>
            <div id="body" class="frame"></div>
            <div id="limb_1" class="limb"></div>
            <div id="limb_2" class="limb"></div>
            <div id="limb_3" class="limb"></div>
            <div id="limb_4" class="limb"></div>
        </div>
        <div id="stand" class="hiden"></div>
    </div>
    <div class="left">
        <p>Чуть позже здесь появится описание.</p>
    </div>
</div>

<script>
    setInterval(()=> {
        $('#head>.eye:first-child').toggleClass("active");
        setTimeout(()=> {
                $('#head>.eye:first-child').toggleClass("active");
            }, 3000);
    }, 10000);
</script>