@using BLL.Models.Enum
@{
    ViewData["Title"] = "Gallows Game";
}
<br>
<div class="text-center">
    
    @await Component.InvokeAsync("BadBoy", new { active = BadBoyStatusEnum.Init })

    <div class="content_wraper">
        <h1 class="display-">
            WELCOME TO <b>GALLOWS GAME</b> <hr>
            <a class="btn btn-outline-dark" asp-area="" asp-controller="Games" asp-action="Get">Начать случайную игру</a>
        </h1>
    </div>
    
</div>

<script>
    setInterval(()=> {
        $('.eye').toggleClass("active");
        setTimeout(()=> {
                $('.eye').toggleClass("active");
            }, 300);
    }, 5000);
</script>