@using BLL.Models.Enum
@{
    ViewData["Title"] = "Создание виселицы";
}
<br>
<div class="text-center">
    
    @await Component.InvokeAsync("BadBoy", new { active = BadBoyStatusEnum.Clear })

    <div class="content_wraper">
              
        <hr>
        <form id="add_form">
            <div class="input-group p-3">
                <p class="px-3">Название новой игры</p>
                <input type="text" class="form-control" name="Name" value="" placeholder="Введите название новой игры">
                <button type="button" onclick="sendForm()" class="btn btn-success mx-3 w-25">Создать игру</button>
            </div>
            <hr>
                <button type="button" onclick="addQuestion()" class="btn btn-primary w-100">Добавить вопрос</button>
            <hr>
        </form>
        <hr>

    </div>
</div>

<script>

    function addQuestion() {
        
        // ПОЛУЧАЕМ ФОРМУ
        let form = document.getElementById('add_form');
        
        // ПОЛУЧАЕМ ВСЕ ВОПРОСЫ И ВЫЧИСЛЯЕМ ИХ КОЛИЧЕСТВО
        let inputs = document.getElementsByClassName('question');
        let index = inputs.length;
        
        // СОЗДАЕМ И НАСТРАИВАЕМ ГРУППУ ДЛЯ ДАЛЬНЕЙШЕЙ ВСТАВКИ
        let group = document.createElement('div');
        
        group.classList.add('input-group');
        group.classList.add('p-3');
        
        // СОЗДАЕМ И НАСТРАИВАЕМ ЗАГОЛОВОК
        let title = document.createElement('p');
        
        title.innerText = 'Вопрос - ' + ++inputs.length;
        title.classList.add('px-3');
        
        // СОЗДАЕМ И НАСТРАИВАЕМ INPUT ВОПРОСА
        let input = document.createElement('input');
        
        input.classList.add('form-control');
        input.classList.add('question');
        input.name = "Questions["+index+"]";
        
        // СОЗДАЕМ И НАСТРАИВАЕМ КНОПКУ ДОБАВЛЕНИЯ ОТВЕТА
        let button = document.createElement('button');
        
        button.type = 'button';
        button.innerText = 'Добавить ответ';
        button.classList.add('mx-3');
        button.classList.add('btn');
        button.classList.add('btn-outline-dark');
        button.onclick = function(){
            addAnswer(index);
            return false;
        };
        
        // СОЗДАЕМ И НАСТРАИВАЕМ КНОПКУ УДАЛЕНИЯ ОТВЕТА
        let button_del = document.createElement('button');
        
        button_del.innerText = 'Удалить вопрос';
        button_del.type = 'button';
        button_del.classList.add('mx-3');
        button_del.classList.add('btn');
        button_del.classList.add('btn-danger');
        button_del.onclick = function(){
            group.remove();
            children.remove();
            return false;
        };
        
        // СОЗДАЕМ КОНТЕЙНЕР ДЛЯ ВЛОЖЕННЫХ ЭЛЕМЕНТОВ
        let children = document.createElement('div');
        
        children.classList.add('children_'+index);
        children.classList.add('children');
        
        // ВКЛАДЫВАЕМ СОЗДАННЫЕ ОБЬЕКТЫ ФОРМЫ В ГРУППУ
        group.appendChild(title);
        group.appendChild(input);
        group.appendChild(button);
        group.appendChild(button_del);
        
        // ВКЛАДЫВАЕМ СОЗДАННУЮ ГРУППУ В ФОРМУ 
        form.appendChild(group);
        form.appendChild(children);
        
    }
         
    function addAnswer(index) {
        
        let input_answers_length = document
            .getElementsByClassName('children_'+index)
            .item(0)
            .children
            .length;
        
        let group = document.createElement('div');
                  
        group.classList.add('input-group');
        group.classList.add('p-3');
        
        let title = document.createElement('p');
        
        title.innerText = 'Ответ - ' + ++input_answers_length;
        title.classList.add('px-3');
        
        let input = document.createElement('input');
        
        input.name = "Answers["+index+"][0]";
        input.classList.add('form-control');
        input.classList.add('answer');
        
        let true_group = document.createElement('div');
        
        true_group.classList.add('true-group');
        true_group.classList.add('p-2');
                
        let true_answer = document.createElement('input');
                
        true_answer.type = 'checkbox';
        
        let true_title = document.createElement('label');
        
        true_title.innerText = "Верный ответ";
        true_title.classList.add('mx-3');
        
        true_group.appendChild(true_answer);
        true_group.appendChild(true_title);
        
        let button = document.createElement('button');
        
        button.type = 'button';
        button.innerText = 'Удалить ответ';
        button.classList.add('mx-3');
        button.classList.add('btn');
        button.classList.add('btn-outline-danger');
        button.onclick = function(){
            group.remove();
            return false;
        };
        
        group.appendChild(title);
        group.appendChild(input);
        group.appendChild(true_group);
        group.appendChild(button);
        
        document.getElementsByClassName('children_'+index)
            .item(0)
            .appendChild(group);
    }
     
    function sendForm() {
             
         let form = document.getElementById('add_form');
             
         console.log(form);
         
             //$.ajax({
             //    type: 'POST',
             //    url: '../Game', 
             //    data: msg,
             //    success: function(data) {
             //       console.log(data);
             //       location.replace('/Games/List');
             //    },
             //    error:  function(){
             //        alert('Ошибка!');
             //    }
             //});
         
         }
        
    setInterval(()=> {
            $('.eye').toggleClass("active");
            setTimeout(()=> {
                    $('.eye').toggleClass("active");
                }, 300);
        }, 5000);
</script>