@using BLL.Models.Enum
@{
    ViewData["Title"] = "Создание виселицы";
}
<br>
<div class="text-center">
    
    @await Component.InvokeAsync("BadBoy", new { active = BadBoyStatusEnum.Death })

    <div class="content_wraper">
        <form action="/Game" method="POST">
            <hr>
            <p><input type="text" class="form-control" name="Name" value="" placeholder="Введите название новой игры"></p>
            <hr>
            <p><button type="submit" class="btn btn-success">Создать</button></p>
        </form>
    </div>
</div>

<script>
    setInterval(()=> {
        $('.eye').toggleClass("active");
        setTimeout(()=> {
                $('.eye').toggleClass("active");
            }, 300);
    }, 5000);
</script>