@using BLL.Models.Enum
@{
    ViewData["Title"] = "Доступные виселицы";
}
<br>
<div class="text-center">
    
    @await Component.InvokeAsync("BadBoy", new { active = BadBoyStatusEnum.Clear })

    <div class="content_wraper">
       <p>Чуть позже здесь появится выбор игр.</p>
    </div>
</div>

<script>
    setInterval(()=> {
        $('.eye').toggleClass("active");
        setTimeout(()=> {
                $('.eye').toggleClass("active");
            }, 300);
    }, 5000);
</script>