@using BLL.Models.Enum
@{
    ViewData["Title"] = "Доступные виселицы";
}
<br>
<div class="text-center">
    
    @await Component.InvokeAsync("BadBoy", new { active = BadBoyStatusEnum.Clear })

    <div class="content_wraper">
        <hr>
        <div class="controls">
            <a class="btn btn-outline-dark" asp-area="" asp-controller="Games" asp-action="List">Обновить список</a>
            <a class="btn btn-success" asp-area="" asp-controller="Games" asp-action="Get">Случайная игра</a>
            <a class="btn btn-primary" asp-area="" asp-controller="Games" asp-action="Create">Создать виселицу</a>
        </div>
        <hr>
        <table id="data_table" class="table table-bordered">
            <tr>
                <th class="col-1">ID</th>
                <th class="col-9">Название</th>
                <th class="col-2">Действия</th>
            </tr>
        </table>
    </div>
</div>

<script>
    fetch('/Game/All')
      .then(response =>  response.json())
      .then(data => {
        console.log(data);
        data.forEach(item => {
            
            let table = document.getElementById('data_table');
            
            let row = table.insertRow(-1);

            let cell_id = row.insertCell(0);
            let cell_name = row.insertCell(1);
            let cell_control = row.insertCell(2);
         
            cell_id.appendChild(document.createTextNode(item['id']));
            cell_name.appendChild(document.createTextNode(item['name']));
            cell_control.appendChild(document.createTextNode('-'));
        
        });
      });

    
    setInterval(()=> {
        $('.eye').toggleClass("active");
        setTimeout(()=> {
                $('.eye').toggleClass("active");
            }, 300);
    }, 5000);
</script>