@using BLL.Models.Enum
@{
    ViewData["Title"] = "Доступные виселицы";
}
<br>
<div class="text-center">
    
    <div class="top-list">
        @await Component.InvokeAsync("BadBoy", new { active = BadBoyStatusEnum.Death })
        @await Component.InvokeAsync("BadBoy", new { active = BadBoyStatusEnum.Init })
        @await Component.InvokeAsync("BadBoy", new { active = BadBoyStatusEnum.Death })
    </div>

    <div class="content_wraper">
        <hr>
        <div class="controls">
            <div class="btn-group w-100">
            <a class="btn btn-outline-dark" asp-area="" asp-controller="Games" asp-action="Get">Случайная игра</a>
            <a class="btn btn-outline-dark" asp-area="" asp-controller="Games" asp-action="Create">Создать виселицу</a>
            <a class="btn btn-outline-dark" asp-area="" asp-controller="Games" asp-action="List">Обновить список</a>
            </div>
        </div>
        <hr>
        <table id="data_table" class="table table-bordered">
            <tr>
                <th class="col-1">ID</th>
                <th class="col-9">Название</th>
                <th class="col-2">Действия</th>
            </tr>
        </table>
    </div>
    
    
    
</div>

<script>
    fetch('/Game/All')
      .then(response =>  response.json())
      .then(data => {
        console.log(data);
        data.forEach(item => {
            
            let table = document.getElementById('data_table');
            
            let row = table.insertRow(-1);

            let cell_id = row.insertCell(0);
            let cell_name = row.insertCell(1);
            let cell_control = row.insertCell(2);
         
            cell_id.appendChild(document.createTextNode(item['id']));
            cell_name.appendChild(document.createTextNode(item['name']));
            
            let a = document.createElement('a');
                
            a.href = "/Games/Get?id="+item['id'];
            a.text = "Играть";
            a.classList.add('btn');
            a.classList.add('btn-success');
            a.classList.add('w-100');
                
            cell_control.appendChild(a);
        
        });
      });

    
    setInterval(()=> {
        $('.eye').toggleClass("active");
        setTimeout(()=> {
                $('.eye').toggleClass("active");
            }, 300);
    }, 5000);
    
    setInterval(()=> {
        $('.top-list>.game-container:first-child .head>.eye:first-child').toggleClass("active");
        setTimeout(()=> {
                $('.top-list>.game-container:first-child .head>.eye:first-child').toggleClass("active");
            }, 3000);
    }, 5000);
    
    setInterval(()=> {
            $('.top-list>.game-container:last-child .head>.eye:first-child').toggleClass("active");
            setTimeout(()=> {
                    $('.top-list>.game-container:last-child .head>.eye:first-child').toggleClass("active");
                }, 2600);
        }, 7000);
</script>